@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.801218);
  display: flex;
  position: fixed;
}
header .menu_bar {
  display: none;
}
header nav {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header nav .logo {
  margin-right: 87px;
}
header nav ul {
  list-style: none;
  display: inline-flex;
  color: #ffffff;
}
header nav ul .title-list {
  margin-right: 27px;
  font-size: 21px;
}
header nav ul .title-list a {
  color: #aaaaaa;
  transition: color 400ms;
}
header nav ul .title-list a:hover {
  color: #ffffff;
}

.hero-content {
  background-color: red;
}
.hero-content .hero-img {
  background-image: url(../images/portada.png);
  width: 100%;
  height: 843px;
  background-size: cover;
  background-position: center;
}
.hero-content .hero-img .hero-content-box {
  max-width: 1280px;
  margin: 0 auto;
}
.hero-content .hero-img .hero-content-box .text-content {
  color: #ffffff;
  padding-top: 207px;
}
.hero-content .hero-img .hero-content-box .text-content h3 {
  font-size: 28px;
  font-weight: 100;
}
.hero-content .hero-img .hero-content-box .text-content h1 {
  font-size: 120px;
  width: 100%;
  max-width: 500px;
  line-height: 100px;
  padding-top: 18px;
}
.hero-content .hero-img .hero-content-box .button-box {
  width: 100%;
  margin-top: 30px;
}
.hero-content .hero-img .hero-content-box .button-box .btn-hero {
  width: 210px;
  height: 65px;
  background-color: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  font-size: 21px;
  padding: 14px 30px;
  color: #fff;
  margin-right: 35px;
  transition: 600ms;
}
.hero-content .hero-img .hero-content-box .button-box .btn-hero:hover {
  background-color: #ffffff;
  color: #000000;
}
.hero-content .hero-img .hero-content-box .infostemporada {
  margin-top: 30px;
  color: #fff;
  width: 100%;
  max-width: 600px;
  font-size: 50px;
}
.hero-content .hero-img .hero-content-box .infostemporada .text {
  margin-bottom: 10px;
  line-height: 33px;
  font-size: 24px;
}

.hero-content {
  background-color: red;
}
.hero-content .hero-img-selected {
  background-image: url(../images/breakingbad.png);
  width: 100%;
  height: 843px;
  background-size: cover;
  background-position: center;
}
.hero-content .hero-img-selected .hero-content-box {
  max-width: 1280px;
  margin: 0 auto;
}
.hero-content .hero-img-selected .hero-content-box .text-content {
  padding-top: 40px;
}
.hero-content .hero-img-selected .hero-content-box .text-content .infodetails {
  margin: -30px 0 60px;
}
.hero-content .hero-img-selected .hero-content-box .text-content .infodetails .info {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 10px;
}
.hero-content .hero-img-selected .hero-content-box .text-content .infodetails .coincidence {
  color: #009C04;
  font-weight: bold;
}
.hero-content .hero-img-selected .hero-content-box .text-content .infodetails .year {
  color: #ffffff;
}
.hero-content .hero-img-selected .hero-content-box .text-content .infodetails .greaterthan {
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 3px;
}
.hero-content .hero-img-selected .hero-content-box .button-box {
  width: 100%;
  margin: 30px 0 60px;
}
.hero-content .hero-img-selected .hero-content-box .button-box .btn-hero {
  width: 210px;
  height: 65px;
  background-color: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  font-size: 21px;
  padding: 14px 30px;
  color: #fff;
  margin-right: 35px;
  transition: 400ms;
}
.hero-content .hero-img-selected .hero-content-box .button-box .btn-hero:hover {
  background-color: red;
  color: #ffffff;
}
.hero-content .hero-img-selected .hero-content-box .button-box svg {
  border: 1px solid #fff;
  padding: 7px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 17px;
  margin-right: 10px;
}
.hero-content .hero-img-selected .hero-content-box .button-box svg:hover {
  border: 2px solid #fff;
  transition: transform 350ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: scale(1.13);
}
.hero-content .hero-img-selected .hero-content-box .infostemporada {
  margin-top: 30px;
  color: #fff;
  width: 100%;
  max-width: 600px;
  font-size: 50px;
}
.hero-content .hero-img-selected .hero-content-box .infostemporada .text {
  margin-bottom: 10px;
  line-height: 33px;
  font-size: 24px;
}
.hero-content .hero-img-selected .grandient-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  width: 100%;
  height: 300px;
  margin-top: -130px;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.seriesbox {
  background-color: #000000;
}
.seriesbox .peliculas-recomendadas {
  padding-bottom: 70px;
  max-width: 1280px;
  margin: 0 auto;
  /* ---- ----- ----- Carousel ----- ----- ----- */
}
.seriesbox .peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}
.seriesbox .peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  left: 0;
}
.seriesbox .peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover {
  background: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 800px) {
  .seriesbox .peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    display: none;
  }
}
.seriesbox .peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  right: 0;
}
.seriesbox .peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 800px) {
  .seriesbox .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    display: none;
  }
}
.seriesbox .peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.seriesbox .peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 800px) {
  .seriesbox .peliculas-recomendadas .contenedor-carousel .carousel {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: auto;
  }
}
.seriesbox .peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-right: 16px;
}
.seriesbox .peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.seriesbox .peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}
.seriesbox .peliculas-recomendadas .contenedor-carousel .carousel .pelicula .progressbar {
  width: 75%;
  height: 7px;
  background-color: #797979;
  border-radius: 4px;
  margin: 10px auto 0px;
  overflow: hidden;
  /*   &:hover
  .progress{
      width: 100%;
  } */
}
.seriesbox .peliculas-recomendadas .contenedor-carousel .carousel .pelicula .progressbar .progress {
  width: 45%;
  height: 100%;
  background-color: red;
}

footer {
  background-color: #000000;
  height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* .series-content{
    background-color: #000000;
    display: flex;


    .series-wrapper{
        max-width: 1280px;
        margin: 0 auto;


        .series-img{
            display: flex;
            overflow-x: auto;
            width: 100%;
            scroll-snap-type: x mandatory;




            .serie{
                margin-right: 16px;
                scroll-snap-align: center;
            }

        }
        .title{
            color: #fff;
            font-size: 24px;
            margin-bottom: 22px;
        }
    }
    .seriesbox{
        padding-top: 54px;
    }
} */

/*# sourceMappingURL=estilos.css.map */
