//Variables
$colorBlack: rgba(0, 0, 0, 0.801218);
$colorButton: rgba(157, 151, 151, 0.541521);

.hero-content {
    background-color: red;



    .hero-img {
        background-image: url(../images/portada.png);
        width: 100%;
        height: 843px;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: 1024px){
            height: 570px;
        }

        @media screen and (max-width: 678px){
            height: 315px;
        }
       

        .hero-content-box {
            max-width: 1280px;
            margin: 0 auto;
            @media screen and (max-width: 1024px){
                padding-left: 35px;
            }

            @media screen and (max-width: 678px){
                padding-left: 14px;
            }
           

            .text-content {
                color: #ffffff;
                padding-top: 207px;
                @media screen and (max-width: 1024px){
                    padding-top: 120px;
                }
                @media screen and (max-width: 678px){
                    padding-top: 87px;                    
                }
               

                h3 {
                    font-size: 28px;
                    font-weight: 100;
                    @media screen and (max-width: 678px){
                        display: none;                   
                     }
                }

                h1 {
                    font-size: 120px;
                    width: 100%;
                    max-width: 500px;
                    line-height: 100px;
                    padding-top: 18px;

                    @media screen and (max-width: 678px){
                        font-size: 24px;
                        line-height: 0px;
                        padding-bottom: 13px;
                    }
                }
            }

            .button-box {
                width: 100%;
                margin-top: 30px;

                .btn-hero {
                    width: 210px;
                    height: 65px;
                    background-color: $colorButton;
                    border-radius: 9px;
                    font-size: 21px;
                    padding: 14px 30px;
                    color: #fff;
                    margin-right: 35px;
                    transition: 600ms;

                    @media screen and (max-width: 678px){
                        margin-right: 10px;
                        font-size: 16px; 
                    }
                   

                    &:hover {
                        background-color: #ffffff;
                        color: #000000;
                      
                    }
                }
            }

            .infostemporada {
                margin-top: 30px;
                color: #fff;
                width: 100%;
                max-width: 600px;            

                .text {
                    margin-bottom: 10px;
                    line-height: 33px;
                    font-size: 24px;
                    @media screen and (max-width: 1024px){
                        line-height: 25px;
                         font-size: 20px;
                    }

                    @media screen and (max-width: 678px){
                        line-height: 20px;
                        font-size: 13px; 
                    }
                   

                }
            }
        }

    }
    

}